# Listas

In [37]:
pessoa = ["João", 15, 60.5, 1.75] 
pessoa

['João', 15, 60.5, 1.75]

#### Possível adicionar, modificar e remover

In [38]:
pessoa.append("alto")
pessoa

['João', 15, 60.5, 1.75, 'alto']

In [39]:
pessoa[0] = "Theo"
pessoa

['Theo', 15, 60.5, 1.75, 'alto']

In [40]:
del(pessoa[1])
pessoa

['Theo', 60.5, 1.75, 'alto']

In [41]:
pessoa.remove('alto')
pessoa

['Theo', 60.5, 1.75]

In [42]:
pessoa.extend(['João',10])
pessoa

['Theo', 60.5, 1.75, 'João', 10]

#### BUSCA: busca a posição de um elemento na lista

In [36]:
pessoa.index('Theo')

0

In [17]:
pessoa.index(1.75)

2

#### COUNT: conta os elementos na lista

In [6]:
listadomercado = ["ovos", "farinha", "leite", "maças", "ovos"]

In [7]:
listadomercado.count("carne")

0

In [8]:
listadomercado.count("ovos")

2

#### Soma os elementos da lista

In [52]:
lista = [2,4,1,9,6,3,0,8,5,7]
sum(lista)

45

#### Ordena os elementos da lista em ordem ascendente

In [12]:
a = [2,4,1,9,6,3,0,8,5,7]
a.sort()
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Ordena os elementos da lista em ordem descendente

In [13]:
b = [2,4,1,9,6,3,0,8,5,7]
b.sort(reverse=True) 
b

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [14]:
b.reverse()
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
numeros = [5,2,7,4,1,8]
numero1 = sorted(numeros)
numero1

[1, 2, 4, 5, 7, 8]

In [25]:
numeros

[5, 2, 7, 4, 1, 8]

#### Informa o tamanho da lista

In [8]:
lista = [100, 2, -5, 3.4]

In [10]:
len(lista)

4

#### Informa o maior valor

In [11]:
max(lista)

100

#### Informa o menor valor

In [13]:
min(lista)

-5

#### Concatenar

In [17]:
alfanumerico = [1,2,3,4,"Cinco"]
numeros = [1,2,3,4,5,6]
numeros + alfanumerico

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 'Cinco']

In [18]:
numeros*2

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

#### Slicing

In [19]:
numeros[2:4]

[3, 4]

In [20]:
numeros[::2]

[1, 3, 5]

#### Nested List

In [26]:
nested = [1,2,[4,5],7]
nested[2]

[4, 5]

In [27]:
nested[2][1]

5

In [29]:
nested[3]

7

In [43]:
nested.append([7,8])
nested

[1, 2, [4, 5], 7, [7, 8]]

In [44]:
nested.extend([9,10])
nested

[1, 2, [4, 5], 7, [7, 8], 9, 10]

#### Referências

In [45]:
numeros = [1,2,3,4,5,6]
numero1 = numeros
numero1

[1, 2, 3, 4, 5, 6]

In [46]:
del(numero1[3])
numero1

[1, 2, 3, 5, 6]

In [47]:
numeros

[1, 2, 3, 5, 6]

In [48]:
#Clonando
numero1 = numeros[:]
numero1

[1, 2, 3, 5, 6]

In [50]:
del(numero1[3])
numero1

[1, 2, 3, 6]

In [51]:
numeros

[1, 2, 3, 5, 6]

In [53]:
help(numeros)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

# Tuplas

In [15]:
t = (1, 3, 5, 7) 
print(t[2])

5

In [41]:
t = 5,2,4,9
print(t[2])

4

In [54]:
alfanumerico = (1,2,3,4,"Cinco")
alfanumerico

(1, 2, 3, 4, 'Cinco')

In [55]:
alfanumerico[4]

'Cinco'

In [56]:
t[2] = 5

NameError: name 't' is not defined

In [57]:
alfanumerico[2:4]

(3, 4)

#### Sem referência: imutável

In [62]:
numeros = (1,2,3,4,5,6)
numeros

(1, 2, 3, 4, 5, 6)

In [63]:
numeros1 = numeros
numeros1

(1, 2, 3, 4, 5, 6)

In [64]:
numeros1 = (3,4,5)
numeros1

(3, 4, 5)

In [65]:
numeros

(1, 2, 3, 4, 5, 6)

#### Concatenando duas tuplas

In [17]:
a = (1, 2)

In [18]:
print(a + (2, 1))

(1, 2, 2, 1)

In [20]:
tupla = ("Geografia", 23, "Elefantes")
tupla

('Geografia', 23, 'Elefantes')

In [22]:
len(tupla)

3

#### Ordenando

In [66]:
numero1 = sorted(numeros)
numero1

[1, 2, 3, 4, 5, 6]

#### Nested

In [68]:
nested = (1,2,(4,5),7)
nested[2]

(4, 5)

In [69]:
nested[2][1]

5

# Sets

In [2]:
pares = {2,4,6,8}
pares

{2, 4, 6, 8}

#### Possível adicionar, modificar e remover

In [3]:
pares.add(9)
pares

{2, 4, 6, 8, 9}

In [4]:
pares.update([3, 4, 5, 6])
pares

{2, 3, 4, 5, 6, 8, 9}

In [5]:
pares.discard(2)
pares

{3, 4, 5, 6, 8, 9}

In [6]:
pares.remove(8)
pares

{3, 4, 5, 6, 9}

#### Não pode ter elemento duplicados

In [9]:
valores = {"A", 1, "B", 2}
valores

{1, 2, 'A', 'B'}

In [10]:
valores.add("A")
valores

{1, 2, 'A', 'B'}

In [11]:
valores[3]

TypeError: 'set' object is not subscriptable

#### Verificando se pertence e se é subconjunto

In [12]:
1 in valores

True

In [13]:
valores2 = {2, 'A'}
valores3 = {6, 'A'}
valores2.issubset(valores)

True

In [14]:
valores3.issubset(valores)

False

#### Transformando lista em set

In [1]:
lista = ["A", "D", "C"]
set2 = set(lista)
set2

{'A', 'C', 'D'}

#### União

In [55]:
conjunto1 = {2,3,5,7}
conjunto2 = {1,3,5,7,9}

In [25]:
conjunto1 | conjunto2

{1, 2, 3, 5, 7, 9}

In [26]:
conjunto1.union(conjunto2)

{1, 2, 3, 5, 7, 9}

In [27]:
conjunto1

{2, 3, 5, 7}

In [28]:
conjunto2

{1, 3, 5, 7, 9}

#### Intersercção

In [29]:
conjunto1 & conjunto2

{3, 5, 7}

In [30]:
conjunto1.intersection(conjunto2)

{3, 5, 7}

In [31]:
conjunto1

{2, 3, 5, 7}

#### Diferença

In [33]:
conjunto1 - conjunto2

{2}

In [34]:
conjunto1.difference(conjunto2)

{2}

# Exercício 1

In [ ]:
# Faça um programa que armazene o gabarito de 5 questoes em uma lista
# Depois pergunte ao usuário as cinco respostas e verifique quantos
# pontos ele fez. Se for maior que 3 indique que foi aprovado

# Exercício 2

In [ ]:
#Faça um programa que calcule o maior e menor valor de uma
#vetor/lista. Não usar a função própia do Python

# Exercício 3

In [ ]:
#Faça um programa com uma função chamada somaImposto. 
#A função possui dois parâmetros formais: taxaImposto, 
#que é a quantia de imposto sobre vendas expressa em porcentagem 
#e custo, que é o custo de um item antes do imposto. A função “altera” 
#o valor de custo para incluir o imposto sobre vendas.